.formInput {
    background-color: $gris;
    color: $beige;
    border: 1px solid $bordo;
}

.textarea {
    height: 150px;
}

.formBtn {
    background-color: $beige;
    color: $bordo;
    border: 1px solid $beige;
}